@page
@model Demo_PPLTHDT_2021_12_Web.Pages.MH_LuuSanPhamModel
@{
}

<form method="post">
    <label>Ma san pham</label> <br />
    <input type="text" name="MaSP" /> 
    <br />

    <label>Ten san pham</label> <br />
    <input type="text" name="TenSP" />
    <br />

    <label>Gia san pham</label> <br />
    <input type="text" name="Gia" /> <br />
   
    <br />
    <input type="submit" value="Luu" />
</form>

@Model.Chuoi