@page
@model Demo_PPLTHDT_2021_12_Web.Pages.MH_NhapTamGiacModel
@{
}

<form method="post">
    <label>Toa do dinh A: XA</label> <br />
    <input type="text" name="XA" /> <br />
    <label>Toa do dinh A: YA</label> <br />
    <input type="text" name="YA" />
    <br />
    <label>Toa do dinh B: XB</label> <br />
    <input type="text" name="XB" /> <br />
    <label>Toa do dinh B: YB</label> <br />
    <input type="text" name="YB" />
    <br />
    <label>Toa do dinh C: XC</label> <br />
    <input type="text" name="XC" /> <br />
    <label>Toa do dinh C: YC</label> <br />
    <input type="text" name="YC" />
    <br />
    <input type="submit" value="Luu" />
</form>

@Model.Chuoi