@page
@model Demo_PPLTHDT_2021_12_Web.Pages.MH_SuaSanPhamModel
@{
}

@if (Model.sanPham != null)
{
    <form method="post">
        <label>Ten san pham</label> <br />
        <input type="text" name="TenSP" value="@Model.sanPham.TenSanPham" />
        <br />
        <label>Gia san pham</label>
        <br />
        <input type="text" name="GiaSP" value="@Model.sanPham.Gia" />
        <br />

        <button type="submit">Xác nhận</button>
    </form>
}
@Model.Chuoi

