@page
@model WebApplication1.Pages.MH_TinhTongPhanSoModel
@{
}

<h4>Tinh tong 2 phan so</h4>
<form method="post">
    <h5>Nhap phan so thu nhat</h5>
    <label for="Tu1">Tu So 1</label>
    <br />
    <input type="text" name="Tu1" value="1" />
    <br />
    <label for="Mau1">Mau So 1</label>
    <br />
    <input type="text" name="Mau1" value="2" />

    <br />
    <br />

    <h5>Nhap phan so thu hai</h5>
    <label for="Tu2">Tu So 2</label>
    <br />
    <input type="text" name="Tu2" value="2" />
    <br />
    <label for="Mau2">Mau So 2</label>
    <br />
    <input type="text" name="Mau2" value="3" />

    <br />
    <button type="submit">Tính</button>
</form>
@Model.Chuoi